name: ci

on:
  push:
  pull_request:

jobs:
  build-test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        build_type: [Debug, Release]
        logging: [ON, OFF]

    runs-on: ${{ matrix.os }}

    steps:
      
      - uses: actions/checkout@v4

      - name: Configure
        run: >
          cmake -S . -B build
          -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
          -DMYAPP_ENABLE_TESTS=ON
          -DMYAPP_ENABLE_LOGGING=${{ matrix.logging }}

      - name: Build
        run: cmake --build build --config ${{ matrix.build_type }}

      - name: Test
        run: ctest --test-dir build --output-on-failure -C ${{ matrix.build_type }}

      - name: Package
        if: ${{ matrix.build_type == 'Release' }}
        run: cmake --build build --target package --config ${{ matrix.build_type }}

